[nl-cloak] {
    display: none;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

form {
    position: relative;
}

input {
    width: 100%;
    display:block;
    padding: 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: solid 1px #ccc;
    border-radius: 4px;
    color: #666;
    font-size: 13px;
}

.left{
    float : left;
    width : 10%;
}

.right {
    float: left;
    width: 90%;
}

.right p {
    background-color: pink;
}


h3 {
    margin: 0 0 5px 0;
}

h5 {
    margin: 0 0 6px 0;
    color: #999;
    font-weight: normal;
    font-size: 15px;
}

hr {
    margin: 20px 0;
}

.message {
    color: #fff;
    background-color: lightgreen;
    padding: 10px 20px;
    margin-top: 10px;
    position: absolute;
    top: 0;
    -webkit-border-radius: 4px;
}

.message.error {
    background-color: red;
}

.no-users {
    background-color: #ccc;
    padding: 5px 10px;
    border-radius: 4px;
}

.path {
    display: block;
}

.path-example {
    font-family: courier;
    color: #999;
}

ul.path-list {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    margin-top:10px;
    font-family: courier;
    font-size: 12px;
    color : #000;

}

ul.path-list li {
  padding: 3px;
  background-color: goldenrod;
  margin-bottom: 3px;
  border-radius: 4px;
}

ul.path-list li button {
  display: block;
  float: left;
  width :10%;
}


ul.path-list li span {
    display: block;
    float: right;
    text-align: left;
    width: 85%;
    position: relative;
    top: 4px;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}