body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.message {
    color: #fff;
    background-color: lightgreen;
    padding: 10px 20px;
    margin-top: 10px;
    position: absolute;
    top: 0;
    -webkit-border-radius: 4px;
}

.message.error {
    background-color: red;
}

h3 {
    margin-bottom: 5px;
}

h5 {
    margin: 0 0 6px 0;
    color: #999;
    font-weight: normal;
    font-size: 15px;
}

hr {
    margin: 20px 0;
}

.path {
    display: block;
}

.path-example {
    font-family: courier;
    color: #999;
}

ul.path-list {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    margin-top:10px;
    font-family: courier;
    font-size: 11px;
}

ul.path-list li {
  padding: 3px;
  background-color: yellow;
  margin-bottom: 3px;
}

ul.path-list li button {
  display: block;
  float: left;
  width :10%;
}


ul.path-list li span {
  display: block;
  float: right;
  text-align: left;
  width : 85%;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}